.userHome{
    color: black;
}

.buttonJugaad{
    width: 100%;
    display: flex;
}

.buttonJugaad button{
    margin: 0 5px;
}

.overflow{
    margin-top: 10px;
    max-height: 80px;
    overflow-y:scroll;
}